<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form method="post" onsubmit="preventSubmit(event)">
        <input type="text" placeholder="Username" class="input-login" name="username" id="username">
        <input type="email" placeholder="Email" class="input-login" name="email" id="email">
        <input type="password" placeholder="Password" class="input-login" name="password" id="password">
        <input type="password" placeholder="Confirm Password" class="input-login" name="confirm-password" id="confirm-password">
        <input type="submit" value="submit" class="input-btn-register" name="register" id="register">
    </form>
    <a href="login">already had an account?</a>
    <script src="js/user_register.js"></script>
</body>
</html>